body {
  font-family: Verdana, Geneva, sans-serif;
}
.divSpacing {
  margin: 10px;
  padding: 5px;
}
.barForNav {
  background-color: #ffb4b0;
  border: 3px solid black;
}

.lowerBoxes {
  display: flex;
  justify-content: space-around;
}

.filterBox {
  background-color: #4dd7fa;
  border: 3px solid black;
  width: 20%;
}

.titleBox {
  background-color: #fefac0;
  color: #785616;
  border: 3px solid black;
  width: 70%;
}

/*

navbar background color is the Red = #ffb4b0

music selector window background color is the blue = #4dd7fa
It's also about one fifth of the window

information window background color is yellow = #fefac0
with text yellow = #785616

*/
