body {
  font-family: Verdana, Geneva, sans-serif;
}
.divSpacing {
  margin: 10px;
  padding: 5px;
}
.barForNav {
  background-color: #ffb4b0;
  border: 3px solid black;
}

.listStyle {
  display: flex;
  justify-content: flex-start;
  list-style: none;

}

.listStyle ul {
  padding: 0;
  margin: 0;

}

.listStyle li:not(:first-child):before {
  content: "|";
}


.lowerBoxes {
  display: flex;
  justify-content: space-between;
}

.filterBox {
  padding: 25px;
  background-color: #4dd7fa;
  border: 3px solid black;
  width: 20%;
}




.titleBox {
  padding: 5px;
  background-color: #fefac0;
  border: 3px solid black;
  width: 75%;
}


.songlistStyle {
  display: flex;
  justify-content: flex-start;
  list-style: none;

}

.songlistStyle ul{
  padding: 10px;
  margin-right: 10px;

}

.songlistStyle li:not(:first-child):before {
  content: " | ";
}



.textcolor {
  margin-left: 10px;
  color: #785616;
  font-weight: normal;
}




/*

navbar background color is the Red = #ffb4b0

music selector window background color is the blue = #4dd7fa
It's also about one fifth of the window

information window background color is yellow = #fefac0
with text yellow = #785616

*/
